@import "tailwindcss";
@plugin "daisyui";

/* bg-[#3b70a1]  */
body {
  background-color: #ffffff;
  color: black;
}
.bg_colar {
  background-color: #013a71;
}
.bg_colar_purple {
  background-color: #ece4f4;
}
.btn {
  background-color: #013a71;
}

.HopeCarelogo {
  height: 40px;
  width: 130px;
  margin-top: 15px;
  margin-left: 30px;
}
.Home_Logo_size {
  width: 100%;
  height: 100%;
}
a:hover {
  color: greenyellow;
}
.searchbar {
  height: 30px;
  width: 180px;
}

/* Card Bg Colar */
.BgColor_1 {
  background-color: #e0e0e0;
}
.BgColor_2 {
  background-color: #c0e0e0;
}
.BgColor_3 {
  background-color: #e0c0e0;
}
.BgColor_4 {
  background-color: #e0e0a0;
}
.BgColor_5 {
  background-color: #e0e0e0;
}
.BgColor_6 {
  background-color: #c0e0e0;
}
